@font-face {
    font-family: arjunfonts;     
    src: url(/fonts/alex.ttf);    
}
body{
    margin:0px ;
}
/* This is the header  */
header{
    width: 100%;
    height: 200px ;
    border:2px Dashed red;    
}
/* This is the Main Section */
main{
    width:100% ;
    min-height: 1200px ;
    border:2px Dashed greenyellow ;
    clear: both;
}
.left-aside{
    width:25%;
    min-height:1200px ;
    Float:Left;
    background-color: green;
}
.mySection{
    width:50%;
    min-height:1200px ;
    Float:Left;
    background-color: red;
}
.right-aside{
    width:25%;
    min-height:1200px ;
    Float:left;
    background-color: blue;
}
/* this is the Footer Section */   
footer{
    width: 100% ;
    height: 300px ;
    border: 2px Dashed blue;
    font-family: arjunfonts;
}

header>  nav>  ul>  li{
    list-style: none;
    float: left;
    padding: 20px ;
}

